*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.BodyLogin{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(128, 0, 128, 0.322),black);  
}

.quadradoLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

.formLogin{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.org{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 370px;
    height: 300px;
    border: 2px solid rgba(0, 0, 0, 0.24);
    border-radius: 12px;
    box-shadow: rgba(240, 46, 169, 0.192) 5px 5px, rgba(240, 46, 169, 0.13) 10px 10px, rgba(163, 22, 111, 0.2) 15px 15px, rgba(187, 33, 131, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.formLogin input {
    box-shadow: rgba(59, 15, 109, 0.178) 0px 22px 70px 4px;
    padding: 3.3px;
    border-radius: 15px;
    width: 250px;
}

.buttonEntrar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 25px;
    margin-left: 100px;
    margin-top: 18px;
    border-radius: 8px;
    box-shadow: rgba(59, 15, 109, 0.178) 3px 26px 70px 4px;
}