.bn30 {
    border: 2em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg,rgba(141, 33, 141, 0.322),rgb(31, 25, 25));
    padding: 0.3em 1.4em;
    border-radius: 65px;
    box-shadow: .4px .5px 2px rgba(141, 33, 141, 0.322);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
    
  }

  .bn30:hover {
    background-image: linear-gradient(-45deg, black, purple);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }

  .bn30:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }

.organizacaoNote{
    padding: 10px;
    width: 40%;
}

.Modal1{
  display: flex;
  width: 300px;
  height: 500px;
  background-color: rgba(189, 48, 189, 0.808);
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid rgba(0, 0, 0, 0.24);
  border-radius: 12px;
  box-shadow: rgba(240, 46, 169, 0.192) 5px 5px, rgba(240, 46, 169, 0.13) 10px 10px, rgba(163, 22, 111, 0.2) 15px 15px, rgba(187, 33, 131, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

}

.formLogin{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formLogin input {
  box-shadow: rgba(59, 15, 109, 0.178) 0px 22px 70px 4px;
  padding: 3.3px;
  border-radius: 15px;
  width: 250px;
}

.label10{
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}